In [90]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [91]:
providers = pd.read_csv("/Users/pritidwivedi/Downloads/providers_data.csv")
receivers = pd.read_csv("/Users/pritidwivedi/Downloads/receivers_data.csv")
food_listings = pd.read_csv("/Users/pritidwivedi/Downloads/food_listings_data.csv")
claims = pd.read_csv("/Users/pritidwivedi/Downloads/claims_data.csv")

In [92]:


# Convert all column names to lowercase and replace spaces with underscores
providers.columns = providers.columns.str.lower()
receivers.columns = receivers.columns.str.lower()
claims.columns = claims.columns.str.lower()
food_listings.columns = food_listings.columns.str.lower()


print(providers.columns)

Index(['provider_id', 'name', 'type', 'address', 'city', 'contact'], dtype='object')

In [93]:
providers.head()

,provider_id,name,type,address,city,contact
0,1,Gonzales-Cochran,Supermarket,"74347 Christopher Extensions\nAndreamouth, OK ...",New Jessica,+1-600-220-0480
1,2,"Nielsen, Johnson and Fuller",Grocery Store,"91228 Hanson Stream\nWelchtown, OR 27136",East Sheena,+1-925-283-8901x6297
2,3,Miller-Black,Supermarket,"561 Martinez Point Suite 507\nGuzmanchester, W...",Lake Jesusview,001-517-295-2206
3,4,"Clark, Prince and Williams",Grocery Store,"467 Bell Trail Suite 409\nPort Jesus, IA 61188",Mendezmouth,556.944.8935x401
4,5,Coleman-Farley,Grocery Store,"078 Matthew Creek Apt. 319\nSaraborough, MA 53978",Valentineside,193.714.6577

In [94]:
receivers.head()

   receiver_id          name        type               city           contact
0            1  Donald Gomez     Shelter     Port Carlburgh     (955)922-5295
1            2  Laurie Ramos  Individual         Lewisburgh      761.042.1570
2            3  Ashley Mckee         NGO  South Randalltown  691-023-0094x856
3            4    Erika Rose         NGO   South Shaneville        8296491111
4            5   John Romero  Individual          Bakerport      067.491.0154

In [95]:
food_listings.head()

,food_id,food_name,quantity,expiry_date,provider_id,provider_type,location,food_type,meal_type
0,1,Bread,43,3/17/2025,110,Grocery Store,South Kellyville,Non-Vegetarian,Breakfast
1,2,Soup,22,3/24/2025,791,Grocery Store,West James,Non-Vegetarian,Dinner
2,3,Fruits,46,3/28/2025,478,Catering Service,Lake Regina,Vegan,Breakfast
3,4,Fruits,15,3/16/2025,930,Restaurant,Kellytown,Vegan,Lunch
4,5,Soup,14,3/19/2025,279,Restaurant,Garciaport,Vegan,Dinner

In [96]:
food_listings['food_name'].unique()

array(['Bread', 'Soup', 'Fruits', 'Vegetables', 'Dairy', 'Rice', 'Pasta',
       'Salad', 'Chicken', 'Fish'], dtype=object)

In [97]:
food_listings["food_type"].unique()

array(['Non-Vegetarian', 'Vegan', 'Vegetarian'], dtype=object)

In [98]:
# Mapping Dictionary

mapping = {
    "Bread": "Vegetarian",
    "Soup": "Vegetarian",
    "Fruits": "Vegetarian",
    "Vegetables": "Vegetarian",
    "Rice": "Vegetarian",
    "Pasta": "Vegetarian",
    "Salad": "Vegetarian",
    "Chicken": "Non-Vegetarian",
    "Fish": "Non-Vegetarian",
    "Dairy": "Vegan"
}


food_listings["food_type"] = food_listings["food_name"].map(mapping)


print(food_listings[["food_name", "food_type"]].head(20))

     food_name       food_type
0        Bread      Vegetarian
1         Soup      Vegetarian
2       Fruits      Vegetarian
3       Fruits      Vegetarian
4         Soup      Vegetarian
5   Vegetables      Vegetarian
6        Dairy           Vegan
7         Rice      Vegetarian
8        Bread      Vegetarian
9         Rice      Vegetarian
10       Pasta      Vegetarian
11       Pasta      Vegetarian
12      Fruits      Vegetarian
13       Bread      Vegetarian
14       Salad      Vegetarian
15       Dairy           Vegan
16     Chicken  Non-Vegetarian
17        Soup      Vegetarian
18        Rice      Vegetarian
19       Pasta      Vegetarian

In [99]:
claims.head()

   claim_id  food_id  receiver_id     status        timestamp
0         1      164          908    Pending    3/5/2025 5:26
1         2      353          391  Cancelled  3/11/2025 10:24
2         3      626          492  Completed   3/21/2025 0:59
3         4       61          933  Cancelled    3/4/2025 9:08
4         5      345          229    Pending  3/14/2025 15:17

In [100]:
providers.isnull().sum()

provider_id    0
name           0
type           0
address        0
city           0
contact        0
dtype: int64

In [101]:
receivers.isnull().sum()

receiver_id    0
name           0
type           0
city           0
contact        0
dtype: int64

In [102]:
food_listings.isnull().sum()

food_id          0
food_name        0
quantity         0
expiry_date      0
provider_id      0
provider_type    0
location         0
food_type        0
meal_type        0
dtype: int64

In [103]:
claims.isnull().sum()

claim_id       0
food_id        0
receiver_id    0
status         0
timestamp      0
dtype: int64

In [104]:
providers.duplicated().sum()

np.int64(0)

In [105]:
receivers.duplicated().sum()

np.int64(0)

In [106]:
food_listings.duplicated().sum()

np.int64(0)

In [107]:
claims.duplicated().sum()

np.int64(0)

In [108]:
providers.info()
receivers.info()
food_listings.info()
claims.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   provider_id  1000 non-null   int64
 1   name         1000 non-null   object
 2   type         1000 non-null   object
 3   address      1000 non-null   object
 4   city         1000 non-null   object
 5   contact      1000 non-null   object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   receiver_id  1000 non-null   int64
 1   name         1000 non-null   object
 2   type         1000 non-null   object
 3   city         1000 non-null   object
 4   contact      1000 non-null   object
dtypes: int64(1), object(4)
memory usage: 39.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   food_id        1000 non-null   int64
 1   food_name      1000 non-null   object
 2   quantity       1000 non-null   int64
 3   expiry_date    1000 non-null   object
 4   provider_id    1000 non-null   int64
 5   provider_type  1000 non-null   object
 6   location       1000 non-null   object
 7   food_type      1000 non-null   object
 8   meal_type      1000 non-null   object
dtypes: int64(3), object(6)
memory usage: 70.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   claim_id     1000 non-null   int64
 1   food_id      1000 non-null   int64
 2   receiver_id  1000 non-null   int64
 3   status       1000 non-null   object
 4   timestamp    1000 non-null   object
dtypes: int64(3), object(2)
memory usage: 39.2+ KB

In [109]:
food_listings['expiry_date'] = pd.to_datetime(food_listings['expiry_date'], dayfirst=True, errors='coerce')

In [110]:
import psycopg2

conn = psycopg2.connect(
    host="localhost",
    user="postgres",
    password="0719",
)
conn.autocommit = True
cursor = conn.cursor()

In [111]:
cursor.execute("DROP DATABASE IF EXISTS food_data;")
cursor.execute("CREATE DATABASE food_data;")
print("Database 'food_data' created successfully!")

Database 'food_data' created successfully!

In [112]:
conn = psycopg2.connect(
    host="localhost",
    user="postgres",
    password="0719",
    dbname="food_data"
)

cursor = conn.cursor()

cursor.execute("""
    CREATE TABLE IF NOT EXISTS providers (
        provider_id INT PRIMARY KEY,
        name VARCHAR(255),
        type VARCHAR(100),
        address TEXT,
        city VARCHAR(100),
        contact VARCHAR(50)
    )
""")
conn.commit()


cursor.execute("""
    CREATE TABLE IF NOT EXISTS receivers (
        receiver_id INT PRIMARY KEY,
        name VARCHAR(255),
        type VARCHAR(100),
        city VARCHAR(100),
        contact VARCHAR(50)
    )
""")
conn.commit()   


cursor.execute("""
    CREATE TABLE IF NOT EXISTS food_listings (
        food_id INT PRIMARY KEY,
        food_name VARCHAR(255),
        quantity INT,
        expiry_date DATE,
        provider_id INT,
        provider_type VARCHAR(100),
        location VARCHAR(255),
        food_type VARCHAR(100),
        meal_type VARCHAR(100)
    )
""")
conn.commit()


cursor.execute("""
    CREATE TABLE IF NOT EXISTS claims (
        claim_id INT PRIMARY KEY,
        food_id INT,
        receiver_id INT,
        status VARCHAR(50),
        timestamp TIMESTAMPTZ
    )
""")
conn.commit()

In [113]:

# Inserting data using iterrows()

for index, row in providers.iterrows():
    cursor.execute("""
        INSERT INTO providers (provider_id, name, type, address, city, contact)
        VALUES (%s, %s, %s, %s, %s, %s)
    """, tuple(row))
conn.commit()

In [114]:
for index, row in receivers.iterrows():
    cursor.execute("""
        INSERT INTO receivers (receiver_id, name, type, city, contact)
        VALUES (%s, %s, %s, %s, %s)
    """, tuple(row))
    
conn.commit()

In [115]:
for index, row in food_listings.iterrows():
    cursor.execute("""
        INSERT INTO food_listings(food_id, food_name, quantity, expiry_date, provider_id, provider_type, location, food_type, meal_type)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, tuple(row))
conn.commit()

In [116]:
for index, row in claims.iterrows():
    cursor.execute("""
        INSERT INTO claims (claim_id, food_id, receiver_id, status, timestamp)
        VALUES (%s, %s, %s, %s, %s)
    """, tuple(row))
conn.commit()

# **SQL QUERIES**

## **Food Providers & Receivers**

1.  How many food providers and receivers are there in each city?

In [117]:

query = """
SELECT 
    city,
    SUM(Provider_Count) AS Provider_Count,
    SUM(Receiver_Count) AS Receiver_Count
FROM (
    SELECT city, COUNT(*) AS Provider_Count, 0 AS Receiver_Count
    FROM providers
    GROUP BY city
    UNION ALL
    SELECT city, 0 AS Provider_Count, COUNT(*) AS Receiver_Count
    FROM receivers
    GROUP BY city
) t
GROUP BY city;
"""

# Read SQL result into a DataFrame
df_q1 = pd.read_sql(query, con=conn)

# Display DataFrame
print(df_q1)

                      city  provider_count  receiver_count
0             Brandonhaven             0.0             2.0
1     Port Daniellechester             1.0             0.0
2          West Cherylland             0.0             1.0
3            New Bobbytown             1.0             0.0
4            Patriciamouth             0.0             1.0
...                    ...             ...             ...
1873           East Lauren             1.0             0.0
1874            Collinston             1.0             0.0
1875           Angelamouth             0.0             1.0
1876          Port Patrick             2.0             0.0
1877          Bentleyburgh             1.0             0.0

[1878 rows x 3 columns]

2. Which type of food provider (restaurant, grocery store, etc.) contributes the most food?

In [118]:
q2 = """
SELECT provider_type, SUM(quantity) AS total_food_quantity
FROM food_listings
GROUP BY provider_type
ORDER BY total_food_quantity DESC;
"""
df_q2 = pd.read_sql(q2, con=conn)
print(df_q2)

      provider_type  total_food_quantity
0        Restaurant                 6923
1       Supermarket                 6696
2  Catering Service                 6116
3     Grocery Store                 6059

3. What is the contact information of food providers in a specific city?

In [119]:
q3 = """
SELECT name, contact, address, city
FROM providers
WHERE city = 'Valentineside';
"""
q3_df = pd.read_sql(q3, con=conn)
print(q3_df)

             name       contact  \
0  Coleman-Farley  193.714.6577

                                             address           city
0  078 Matthew Creek Apt. 319\nSaraborough, MA 53978  Valentineside

4. Which receivers have claimed the most food?

In [120]:
q4 = """
SELECT r.name, SUM(f.quantity) AS Total_Claimed_Quantity
FROM claims c
JOIN receivers r ON c.receiver_id = r.receiver_id
JOIN food_listings f ON c.food_id = f.food_id
WHERE c.status = 'Completed'
GROUP BY r.name
ORDER BY Total_Claimed_Quantity DESC;
"""
q4_df = pd.read_sql(q4,con=conn)
print(q3_df)

             name       contact  \
0  Coleman-Farley  193.714.6577

                                             address           city
0  078 Matthew Creek Apt. 319\nSaraborough, MA 53978  Valentineside

5. Total quantity of food available from all providers

In [121]:
q5 = """
SELECT SUM(quantity) AS Total_Available_Quantity
FROM food_listings;
"""
q5_df = pd.read_sql(q5,con=conn)
print(q5_df)

   total_available_quantity
0                     25794

6. Which city has the highest number of food listings?

In [122]:
q6 = """
SELECT p.city, COUNT(*) AS Listings_Count
FROM food_listings f
JOIN providers p ON f.provider_ID = p.provider_ID
GROUP BY p.city
ORDER BY Listings_Count DESC
LIMIT 1;
"""
q6_df =pd.read_sql(q6, con=conn)
print(q6_df)

        city  listings_count
0  New Carol               6

7. Most commonly available food types

In [123]:
q7 = """
SELECT food_type, COUNT(*) AS Count_Type
FROM food_listings
GROUP BY food_type
ORDER BY Count_Type DESC;
"""
q7_df = pd.read_sql(q7, con=conn)
print(q7_df)

        food_type  count_type
0      Vegetarian         702
1  Non-Vegetarian         195
2           Vegan         103

8. How many food claims have been made for each food item?

In [124]:
q8 = """
SELECT f.food_name, COUNT(c.claim_id) AS claims_count
FROM claims c
JOIN food_listings f ON c.food_id = f.food_id
GROUP BY f.food_name
ORDER BY claims_count DESC;
"""
q8_df = pd.read_sql(q8, con=conn)
print(q8_df)

    food_name  claims_count
0        Rice           122
1        Soup           114
2       Dairy           110
3        Fish           108
4       Salad           106
5     Chicken           102
6       Bread            94
7       Pasta            87
8  Vegetables            86
9      Fruits            71

9. Which provider has had the highest number of successful food claims?

In [125]:
q9 = """
SELECT p.name, COUNT(c.claim_id) AS successful_claims
FROM claims c
JOIN food_listings f ON c.food_id = f.food_id
JOIN providers p ON f.provider_id = p.provider_id
WHERE c.status = 'Completed'
GROUP BY p.name
ORDER BY successful_claims DESC
LIMIT 1;
"""
q9_df = pd.read_sql(q9, con=conn)
print(q9_df)

          name  successful_claims
0  Barry Group                  5

10. Percentage of claims completed vs pending vs canceled.

In [126]:
q10 = """
SELECT status, 
       ROUND(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM claims), 2) AS Percentage
FROM claims
GROUP BY status;
"""
q10_df = pd.read_sql(q10, con=conn)
print(q10_df)

      status  percentage
0    Pending        32.5
1  Completed        33.9
2  Cancelled        33.6

11. Average quantity of food claimed per receiver.

In [127]:
q11 = """
SELECT r.name, ROUND(AVG(f.quantity), 2) AS Avg_Quantity_Claimed
FROM claims c
JOIN receivers r ON c.receiver_id = r.receiver_id
JOIN food_listings f ON c.food_id = f.food_id
WHERE c.status = 'Completed'
GROUP BY r.name;
"""
q11_df = pd.read_sql(q11, con=conn)
print(q11_df)

                 name  avg_quantity_claimed
0          Aaron Rios                   9.0
1         Aaron Scott                  45.0
2    Abigail Crawford                   5.0
3         Aimee Stone                   7.0
4          Alex White                  18.0
..                ...                   ...
287   Victor Crawford                  28.0
288      Victor Reyes                  37.0
289   Victoria Torres                   9.0
290     Walter Carter                  31.0
291    William Barnes                  47.0

[292 rows x 2 columns]

12. Which meal type is claimed the most?

In [128]:
q12 = """
SELECT f.meal_type, SUM(f.quantity) AS Total_Claimed_Quantity
FROM claims c
JOIN food_listings f ON c.food_id = f.food_id
WHERE c.status = 'Completed'
GROUP BY f.meal_type
ORDER BY Total_Claimed_Quantity DESC
LIMIT 1;
"""
q12_df = pd.read_sql(q12, con=conn)
print(q12_df)

   meal_type  total_claimed_quantity
0  Breakfast                    2423

13. Total quantity of food donated by each provider

In [129]:
q13 = """
SELECT p.name, SUM(f.quantity) AS Total_Donated
FROM food_listings f
JOIN providers p ON f.provider_id = p.provider_id
GROUP BY p.name
ORDER BY Total_Donated DESC;
"""
q13_df = pd.read_sql(q13, con=conn)
print(q13_df)

                                name  total_donated
0                         Miller Inc            217
1                        Barry Group            179
2         Evans, Wright and Mitchell            158
3                        Smith Group            150
4                       Campbell LLC            145
..                               ...            ...
623                   Gonzales-Moore              1
624                   Reyes and Sons              1
625  Martinez, Armstrong and Carroll              1
626                  Norris-Townsend              1
627                        Mcgee PLC              1

[628 rows x 2 columns]

14. What is the total listed food quantity and unclaimed food quantity (food not claimed at all)?

In [130]:
q14= """
SELECT
   -- Total food listed
   (SELECT SUM(quantity) FROM food_listings) AS total_food_listed,

   -- Total unclaimed food (i.e., sum of food from listings with no claim at all)
   (SELECT SUM(quantity) 
      FROM food_listings fl
      LEFT JOIN claims c ON fl.food_id = c.food_id
      WHERE c.claim_id IS NULL
   ) AS total_unclaimed_food
;
"""

q14_df = pd.read_sql(q14, con=conn)
print(q14_df)

   total_food_listed  total_unclaimed_food
0              25794                  9160

15. Which food type is most often claimed but least often completed?

In [131]:
q15 = """
SELECT 
    fl.food_type, 
    SUM(CASE WHEN c.status = 'Completed' THEN 1 ELSE 0 END) AS completed,
    COUNT(*) AS total_claims,
    (COUNT(*) - SUM(CASE WHEN c.status = 'Completed' THEN 1 ELSE 0 END)) AS incomplete
FROM claims c
JOIN food_listings fl ON c.food_id = fl.food_id
GROUP BY fl.food_type
ORDER BY incomplete DESC, completed ASC
LIMIT 1;
"""

q15_df = pd.read_sql(q15, con=conn)
print(q15_df)

    food_type  completed  total_claims  incomplete
0  Vegetarian        239           680         441

16. Donation activity for the whole week.

In [132]:
q16 = """
SELECT 
    ((EXTRACT(DOW FROM expiry_date)::int + 1)) AS weekday,
    SUM(quantity) AS total_quantity_donated
FROM food_listings
GROUP BY weekday
ORDER BY weekday;
"""

q16_df = pd.read_sql(q16, con=conn)
print(q16_df)

   weekday  total_quantity_donated
0        1                    4888
1        2                    3943
2        3                    3270
3        4                    2981
4        5                    3523
5        6                    3235
6        7                    3954